<p>In this third phase, we will : </p> 
<ul> 
    <li> retrieve the data from the data lake   </li> 
    <li> clean and structure the data and save it in a relational database </li> 
</ul>

### Table of Contents

* [1. Download the data from the Data Lake](#section1)
* [2. Relational Data Storage](#section2)
* [3. Structure and save cities coordinates data in the DB](#section3)
* [4. Structure and save weather data in the DB](#section4)
* [5. Structure and save hotels data in the DB](#section5)
* [6. DB schema](#section6)

In [6]:
# wrapping data
import pandas as pd
import numpy as np

# predefined functions
from modules import Funct as F

# global params
bucket_name = 'kayak-project'

# 1. Download the data from the Data Lake <a class="anchor" id="section1"></a>

In [7]:
F.download_file_dl(bucket_name, 'cities_coordinates.csv', 'data/cities_coordinates.csv')
F.download_file_dl(bucket_name, 'cities_weather.csv', 'data/cities_weather.csv')
F.download_file_dl(bucket_name, 'hotels.csv', 'data/hotels.csv')

The object does not exist !!
The object does not exist !!

In [7]:
geo_df = pd.read_csv('data/cities_coordinates.csv')
weather_df = pd.read_csv('data/cities_weather.csv')
hotels_df = pd.read_csv('data/hotels.csv')

# 2. Relational Data Storage <a class="anchor" id="section2"></a>

In [8]:
# Amazon Relational Database Service (Amazon RDS)
# create engine using the SQL toolkit and Object Relational Mapper sqlalchemy
# to get access to the database where we will save our structured data
from sqlalchemy import create_engine, text
#PostgreSQL database adapter
import psycopg2

dbuser = ''
dbpass = ''
dbhost = ''
dbname = ''

engine = create_engine(f"postgresql+psycopg2://{dbuser}:{dbpass}@{dbhost}/{dbname}", echo=True)

# 3. Structure and save cities coordinates data in the DB <a class="anchor" id="section3"></a>

In [9]:
# save the retrieved data in Amazon Relational Database
geo_df.to_sql(
    "city",
    engine,
    if_exists='replace',
    index =False
)

2022-01-16 20:42:58,995 INFO sqlalchemy.engine.base.Engine select version()
2022-01-16 20:42:58,996 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 20:42:59,161 INFO sqlalchemy.engine.base.Engine select current_schema()
2022-01-16 20:42:59,162 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 20:42:59,327 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-01-16 20:42:59,328 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 20:42:59,411 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2022-01-16 20:42:59,412 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 20:42:59,494 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2022-01-16 20:42:59,495 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 20:42:59,660 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-01-16 20:42:59,661 INFO sqlalchemy.engine.base.Engine {'name': 'city'}
2022-01-16 20:42:59,908 INFO sqlalchemy.engine.base.Engine
CREATE TABLE city (
	id BIGINT,
	name TEXT,
	latitude FLOAT(53),
	longitude FLOAT(53)
)


2022-01-16 20:42:59,909 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 20:43:00,188 INFO sqlalchemy.engine.base.Engine COMMIT
2022-01-16 20:43:00,273 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-01-16 20:43:00,275 INFO sqlalchemy.engine.base.Engine INSERT INTO city (id, name, latitude, longitude) VALUES (%(id)s, %(name)s, %(latitude)s, %(longitude)s)
2022-01-16 20:43:00,276 INFO sqlalchemy.engine.base.Engine ({'id': 0, 'name': 'Mont Saint Michel', 'latitude': 48.6359541, 'longitude': -1.5114599549595142}, {'id': 1, 'name': 'St Malo', 'latitude': 48.649518, 'longitude': -2.0260409}, {'id': 2, 'name': 'Bayeux', 'latitude': 49.2764624, 'longitude': -0.7024738}, {'id': 3, 'name': 'Le Havre', 'latitude': 49.4938975, 'longitude': 0.1079732}, {'id': 4, 'name': 'Rouen', 'latitude': 49.4404591, 'longitude': 1.0939658}, {'id': 5, 'name': 'Paris', 'latitude': 48.85888970000001, 'longitude': 2.3200410217200766}, {'id': 6, 'name': 'Amiens', 'latitude': 49.8941708, 'longitude': 2.2956951}, {'id': 7, 'name': 'Lille', 'latitude': 50.6365654, 'longitude': 3.0635282000000004}  ... displaying 10 of 35 total bound parameter sets ...  {'id': 33, 'name': 'Bayonne', 'latitude': 43.49333789999999, 'longitude': -1.475099}, {'id': 34, 'name': 'La Rochelle', 'latitude': 46.1591126, 'longitude': -1.1520434})
2022-01-16 20:43:03,200 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
# define the id column as a primary key for JOINs with other data later
conn = engine.connect()
stmt = text("ALTER TABLE city ADD PRIMARY KEY (id)")
result = conn.execute(stmt)

2022-01-16 20:47:59,905 INFO sqlalchemy.engine.base.Engine ALTER TABLE city ADD PRIMARY KEY (id)
2022-01-16 20:47:59,907 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 20:48:00,233 INFO sqlalchemy.engine.base.Engine COMMIT

# 4. Structure and save weather data in the DB <a class="anchor" id="section4"></a>

In [15]:
# save the retrieved data in Amazon Relational Database
weather_df.to_sql(
    "weather",
    engine,
    if_exists='replace',
)

2022-01-16 21:09:54,175 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-01-16 21:09:54,176 INFO sqlalchemy.engine.base.Engine {'name': 'weather'}
2022-01-16 21:09:54,422 INFO sqlalchemy.engine.base.Engine
CREATE TABLE weather (
	index BIGINT,
	day_time TEXT,
	temperature FLOAT(53),
	precipitation_p FLOAT(53),
	humidity BIGINT,
	weather TEXT,
	cid BIGINT
)


2022-01-16 21:09:54,423 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 21:09:54,591 INFO sqlalchemy.engine.base.Engine COMMIT
2022-01-16 21:09:54,674 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_weather_index ON weather (index)
2022-01-16 21:09:54,675 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 21:09:54,841 INFO sqlalchemy.engine.base.Engine COMMIT
2022-01-16 21:09:54,927 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-01-16 21:09:54,930 INFO sqlalchemy.engine.base.Engine INSERT INTO weather (index, day_time, temperature, precipitation_p, humidity, weather, cid) VALUES (%(index)s, %(day_time)s, %(temperature)s, %(precipitation_p)s, %(humidity)s, %(weather)s, %(cid)s)
2022-01-16 21:09:54,931 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'day_time': '2022-01-15 12:00:00 (UTC)', 'temperature': 6.25, 'precipitation_p': 0.0, 'humidity': 70, 'weather': 'clear sky', 'cid': 0}, {'index': 1, 'day_time': '2022-01-16 12:00:00 (UTC)', 'temperature': 7.95, 'precipitation_p': 0.1, 'humidity': 86, 'weather': 'overcast clouds', 'cid': 0}, {'index': 2, 'day_time': '2022-01-17 12:00:00 (UTC)', 'temperature': 10.18, 'precipitation_p': 0.08, 'humidity': 87, 'weather': 'broken clouds', 'cid': 0}, {'index': 3, 'day_time': '2022-01-18 12:00:00 (UTC)', 'temperature': 8.23, 'precipitation_p': 0.0, 'humidity': 72, 'weather': 'few clouds', 'cid': 0}, {'index': 4, 'day_time': '2022-01-19 12:00:00 (UTC)', 'temperature': 7.63, 'precipitation_p': 0.0, 'humidity': 76, 'weather': 'scattered clouds', 'cid': 0}, {'index': 5, 'day_time': '2022-01-20 12:00:00 (UTC)', 'temperature': 8.39, 'precipitation_p': 0.0, 'humidity': 70, 'weather': 'broken clouds', 'cid': 0}, {'index': 6, 'day_time': '2022-01-21 12:00:00 (UTC)', 'temperature': 5.95, 'precipitation_p': 0.0, 'humidity': 65, 'weather': 'scattered clouds', 'cid': 0}, {'index': 7, 'day_time': '2022-01-15 12:00:00 (UTC)', 'temperature': 6.48, 'precipitation_p': 0.0, 'humidity': 82, 'weather': 'clear sky', 'cid': 1}  ... displaying 10 of 245 total bound parameter sets ...  {'index': 243, 'day_time': '2022-01-20 12:00:00 (UTC)', 'temperature': 7.8, 'precipitation_p': 0.0, 'humidity': 80, 'weather': 'clear sky', 'cid': 34}, {'index': 244, 'day_time': '2022-01-21 12:00:00 (UTC)', 'temperature': 5.18, 'precipitation_p': 0.0, 'humidity': 64, 'weather': 'clear sky', 'cid': 34})
2022-01-16 21:10:14,887 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
# define the index as a primary key
conn = engine.connect()
stmt = text("ALTER TABLE weather ADD PRIMARY KEY (index)")
result = conn.execute(stmt)

2022-01-16 21:10:14,976 INFO sqlalchemy.engine.base.Engine ALTER TABLE weather ADD PRIMARY KEY (index)
2022-01-16 21:10:14,978 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 21:10:15,151 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
# define the cid column as a foreign key
stmt = text("ALTER TABLE weather ADD CONSTRAINT fk_city FOREIGN KEY (cid) REFERENCES city (id)")
result = conn.execute(stmt)

2022-01-16 21:10:17,949 INFO sqlalchemy.engine.base.Engine ALTER TABLE weather ADD CONSTRAINT fk_city FOREIGN KEY (cid) REFERENCES city (id)
2022-01-16 21:10:17,951 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 21:10:18,115 INFO sqlalchemy.engine.base.Engine COMMIT

# 5. Structure and save hotels data in the DB <a class="anchor" id="section5"></a>

In [63]:
hotels_df.head(2)

,cid,name,star,rating,rating_title,number_of_ratings,price,url,lat,lon
0,0,Le Relais Saint Michel,4 étoiles,7.8,Bien,1 910 expériences vécues,"€ 78,32",https://www.booking.com/hotel/fr/le-relais-sai...,48.617587,-1.510396
1,0,Les Terrasses Poulard,3 étoiles,7.3,Bien,2 170 expériences vécues,"€ 126,84",https://www.booking.com/hotel/fr/les-terrasses...,48.635349,-1.510379

In [64]:
hotels_df.dtypes

cid                    int64
name                  object
star                  object
rating               float64
rating_title          object
number_of_ratings     object
price                 object
url                   object
lat                  float64
lon                  float64
dtype: object

In [65]:
# Clean and Structure
# extract numeric data from columns = [star, number_of_ratings, price]

def get_int(text, split_word):
    if text != text:
        return np.nan
    else:
        text = int(text.split(split_word)[0].replace(u'\xa0', u''))
        return text

def get_float(text, split_word):
    if text != text:
        return np.nan
    else:
        text = float(text.split(split_word)[1].replace(u'\xa0', u'').replace(',', '.'))
        return text

In [66]:
hotels_df['number_of_ratings'] = hotels_df['number_of_ratings'].apply(get_int, args =['expériences'])
hotels_df['star'] = hotels_df['star'].apply(get_int, args =['étoiles']) 
hotels_df['price'] = hotels_df['price'].apply(get_float, args =['€'])

In [67]:
hotels_df.dtypes

cid                    int64
name                  object
star                 float64
rating               float64
rating_title          object
number_of_ratings      int64
price                float64
url                   object
lat                  float64
lon                  float64
dtype: object

In [70]:
hotels_df.head(2)

,cid,name,star,rating,rating_title,number_of_ratings,price,url,lat,lon
0,0,Le Relais Saint Michel,4.0,7.8,Bien,1910,78.32,https://www.booking.com/hotel/fr/le-relais-sai...,48.617587,-1.510396
1,0,Les Terrasses Poulard,3.0,7.3,Bien,2170,126.84,https://www.booking.com/hotel/fr/les-terrasses...,48.635349,-1.510379

In [71]:
# save the retrieved data in Amazon Relational Database
hotels_df.to_sql(
    "hotels",
    engine,
    if_exists='replace',
)

2022-01-16 22:14:18,091 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2022-01-16 22:14:18,093 INFO sqlalchemy.engine.base.Engine {'name': 'hotels'}
2022-01-16 22:14:18,341 INFO sqlalchemy.engine.base.Engine
CREATE TABLE hotels (
	index BIGINT,
	cid BIGINT,
	name TEXT,
	star FLOAT(53),
	rating FLOAT(53),
	rating_title TEXT,
	number_of_ratings BIGINT,
	price FLOAT(53),
	url TEXT,
	lat FLOAT(53),
	lon FLOAT(53)
)


2022-01-16 22:14:18,342 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 22:14:18,511 INFO sqlalchemy.engine.base.Engine COMMIT
2022-01-16 22:14:18,595 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_hotels_index ON hotels (index)
2022-01-16 22:14:18,596 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 22:14:18,761 INFO sqlalchemy.engine.base.Engine COMMIT
2022-01-16 22:14:18,847 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-01-16 22:14:18,852 INFO sqlalchemy.engine.base.Engine INSERT INTO hotels (index, cid, name, star, rating, rating_title, number_of_ratings, price, url, lat, lon) VALUES (%(index)s, %(cid)s, %(name)s, %(star)s, %(rating)s, %(rating_title)s, %(number_of_ratings)s, %(price)s, %(url)s, %(lat)s, %(lon)s)
2022-01-16 22:14:18,853 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'cid': 0, 'name': 'Le Relais Saint Michel', 'star': 4.0, 'rating': 7.8, 'rating_title': 'Bien', 'number_of_ratings': 1910, 'price': 78.32, 'url': 'https://www.booking.com/hotel/fr/le-relais-saint-michel.fr.html?sid=c17affa1402ef0976c5bc9a9b4c912ee', 'lat': 48.61758727, 'lon': -1.51039615}, {'index': 1, 'cid': 0, 'name': 'Les Terrasses Poulard', 'star': 3.0, 'rating': 7.3, 'rating_title': 'Bien', 'number_of_ratings': 2170, 'price': 126.84, 'url': 'https://www.booking.com/hotel/fr/les-terrasses-poulard.fr.html?sid=c17affa1402ef0976c5bc9a9b4c912ee', 'lat': 48.63534943, 'lon': -1.51037872}, {'index': 2, 'cid': 0, 'name': 'La Mère Poulard', 'star': 3.0, 'rating': 7.2, 'rating_title': 'Bien', 'number_of_ratings': 1175, 'price': 85.84, 'url': 'https://www.booking.com/hotel/fr/la-mere-poulard.fr.html?sid=c17affa1402ef0976c5bc9a9b4c912ee', 'lat': 48.63508532, 'lon': -1.51053965}, {'index': 3, 'cid': 0, 'name': 'Hotel De La Digue', 'star': 3.0, 'rating': 7.1, 'rating_title': 'Bien', 'number_of_ratings': 2093, 'price': 77.84, 'url': 'https://www.booking.com/hotel/fr/de-la-digue.fr.html?sid=c17affa1402ef0976c5bc9a9b4c912ee', 'lat': 48.61688155, 'lon': -1.51091784}, {'index': 4, 'cid': 0, 'name': 'Hôtel Vert', 'star': 2.0, 'rating': 8.1, 'rating_title': 'Très bien', 'number_of_ratings': 3808, 'price': 73.38, 'url': 'https://www.booking.com/hotel/fr/vert.fr.html?sid=c17affa1402ef0976c5bc9a9b4c912ee', 'lat': 48.61470049, 'lon': -1.50961697}, {'index': 5, 'cid': 0, 'name': 'Mercure Mont Saint Michel', 'star': 4.0, 'rating': 8.2, 'rating_title': 'Très bien', 'number_of_ratings': 3101, 'price': 90.16, 'url': 'https://www.booking.com/hotel/fr/mont-saint-michel.fr.html?sid=c17affa1402ef0976c5bc9a9b4c912ee', 'lat': 48.61424653, 'lon': -1.51054502}, {'index': 6, 'cid': 0, 'name': 'Le Mouton Blanc', 'star': 3.0, 'rating': 7.2, 'rating_title': 'Bien', 'number_of_ratings': 1639, 'price': 121.84, 'url': 'https://www.booking.com/hotel/fr/le-mouton-blanc-le-mont-saint-michel.fr.html?sid=c17affa1402ef0976c5bc9a9b4c912ee', 'lat': 48.63602298, 'lon': -1.50989592}, {'index': 7, 'cid': 0, 'name': 'Hotel Gabriel', 'star': 3.0, 'rating': 8.1, 'rating_title': 'Très bien', 'number_of_ratings': 2475, 'price': None, 'url': 'https://www.booking.com/hotel/fr/hotel-gabriel.fr.html?sid=c17affa1402ef0976c5bc9a9b4c912ee', 'lat': 48.61538141, 'lon': -1.51070997}  ... displaying 10 of 310 total bound parameter sets ...  {'index': 308, 'cid': 34, 'name': 'Central Park Hôtel & Spa', 'star': 4.0, 'rating': 8.7, 'rating_title': 'Superbe', 'number_of_ratings': 1817, 'price': 90.06, 'url': 'https://www.booking.com/hotel/fr/central-park-amp-spa.fr.html?sid=7240f81f0addba4c934c8378c3bd2d8a', 'lat': 46.15891333, 'lon': -1.16082335}, {'index': 309, 'cid': 34, 'name': 'ibis La Rochelle Vieux Port', 'star': 3.0, 'rating': 8.2, 'rating_title': 'Très bien', 'number_of_ratings': 1842, 'price': 68.65, 'url': 'https://www.booking.com/hotel/fr/ibis-la-rochelle-vieux-port.fr.html?sid=7240f81f0addba4c934c8378c3bd2d8a', 'lat': 46.1558294, 'lon': -1.148558})
2022-01-16 22:14:44,297 INFO sqlalchemy.engine.base.Engine COMMIT

In [72]:
# define the index as a primary key
conn = engine.connect()
stmt = text("ALTER TABLE hotels ADD PRIMARY KEY (index)")
result = conn.execute(stmt)

2022-01-16 22:14:44,389 INFO sqlalchemy.engine.base.Engine ALTER TABLE hotels ADD PRIMARY KEY (index)
2022-01-16 22:14:44,390 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 22:14:44,559 INFO sqlalchemy.engine.base.Engine COMMIT

In [73]:
# define the cid column as a foreign key
stmt = text("ALTER TABLE hotels ADD CONSTRAINT fk_city FOREIGN KEY (cid) REFERENCES city (id)")
result = conn.execute(stmt)

2022-01-16 22:14:44,649 INFO sqlalchemy.engine.base.Engine ALTER TABLE hotels ADD CONSTRAINT fk_city FOREIGN KEY (cid) REFERENCES city (id)
2022-01-16 22:14:44,652 INFO sqlalchemy.engine.base.Engine {}
2022-01-16 22:14:44,817 INFO sqlalchemy.engine.base.Engine COMMIT

# 6. DB schema <a class="anchor" id="section6"></a>

<img src="data/schema.png" width=1000 height=800>

<image src="data/schema.png" width=100 height=50>